* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .align-components{
    display: flex;
    flex-direction: row;
    margin-left: 15rem;
  }

  .align-pay{
    margin-left: 50px;
  }

  .align-infopay{
    margin-top: 5rem;

  }